<%= javascript_pack_tag 'quizzes/form' %>

<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

<%= form_with(model: @quiz_form, local: true) do |quiz_form| %>
  <div id="choice_input_field" class="input_field">
    <div class="item_title">
      <span>クイズの選択肢</span>
    </div>

    <ul id="choice_input_field_list" class="input_field_list">
      <li class="list_item_header">
        <div>
          <i class="fa fa-fire fa-lg icon_action visibility_hidden" aria-hidden="true"></i>
        </div>

        <div class="list_item_name input_field_list_item_box">選択肢</div>
        <div class="list_item_name input_field_list_item_box">母音</div>

        <div>
          <i class="fa fa-fire fa-lg icon_action visibility_hidden" aria-hidden="true"></i>
        </div>
      </li>

      <% quiz_form.object.choices.each_with_index do |choice, idx| %>
        <li id="choice_input_field_id_<%= idx %>" class="input_field_list_item" >
          <div>
            <i class="fa fa-sort fa-lg icon_action icon_sort_input_field_list_item" aria-hidden="true" draggable="true"></i>
          </div>

          <%= fields_for choice do |choice_field| %>
            <div class="input_field_list_item_box">
              <%= choice_field.text_field :content, id: "choice_content_#{idx}", name: "choices[][content]", class: 'form-control' %>
              <%= render "shared/error_messages_for_attribute", object: choice, attribute: :content %>
            </div>

            <div class="input_field_list_item_box">
              <%= choice_field.text_field :rhyme, id: "choice_rhyme_#{idx}", name: "choices[][rhyme]", class: "form-control",  list: "list_choice_rhyme" %>
              <%= render "shared/error_messages_for_attribute", object: choice, attribute: :rhyme %>
            </div>
          <% end %>
          <div>
            <i class="fa fa-trash fa-lg icon_action icon_delete_input_field_list_item" aria-hidden="true"></i>
          </div>
        </li>

      <% end %>
    </ul>

    <datalist id="list_choice_rhyme">
      <%= options_for_select(@quiz_form.select_list_of_rhyme_of_choice) %>
    </datalist>

    <div class="icon_add_potion">
      <i class="fa fa-plus-circle fa-2x icon_action icon_add_input_field_list_item" aria-hidden="true">追加</i>
    </div>

    <div class="item_title">
      <span>Youtube</span>
    </div>
    <ul id="choice_input_field_list" class="input_field_list">
      <li class="list_item_header">
        <div>
          <i class="fa fa-fire fa-lg icon_action visibility_hidden" aria-hidden="true"></i>
        </div>
        <div class="list_item_name input_field_list_item_box">URL</div>
        <div class="list_item_name input_field_list_item_box">開始時間</div>
        <div>
          <i class="fa fa-fire fa-lg icon_action visibility_hidden" aria-hidden="true"></i>
        </div>
      </li>

      <li id="choice_input_field_id_" class="input_field_list_item" >
        <div>
          <i class="fa fa-fire fa-lg icon_action visibility_hidden" aria-hidden="true"></i>
        </div>

        <div class="input_field_list_item_box">
          <%= quiz_form.text_field :youtube_url, class: 'form-control' %>
          <%= render "shared/error_messages_for_attribute", object: quiz_form.object, attribute: :youtube_url %>
        </div>

        <div class="input_field_list_item_box">
          <%= quiz_form.time_field :youtube_start_time, class: 'form-control', step: '1', value: '00:00:00' %>
          <%= render "shared/error_messages_for_attribute", object: quiz_form.object, attribute: :youtube_start_time %>
        </div>

        <div>
          <i class="fa fa-fire fa-lg icon_action visibility_hidden" aria-hidden="true"></i>
        </div>
      </li>
    </ul>
  </div>

  <div class="input_field">
    <div class="item_title">
      <span>解説</span>
    </div>

    <%= quiz_form.text_area :commentary, class: 'form-control commentary' %>
    <%= render "shared/error_messages_for_attribute", object: quiz_form.object, attribute: :commentary %>
    <div class="btn_quiz_post">
      <%= quiz_form.button "投稿", type: 'button', onclick: 'submit();', class: "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>