<%= javascript_pack_tag 'quizzes/form' %>

<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

<%= form_with(model: @quiz, local: true) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div id="choice_input_field" class="input_field">
    <div class="item_title">
      <span>クイズの選択肢</span>
    </div>

    <ul id="choice_input_field_list" class="input_field_list">
      <li class="list_item_header">
        <div>
          <i class="fa fa-fire fa-lg icon_action visibility_hidden" aria-hidden="true"></i>
        </div>

        <div class="list_item_name input_field_list_item_box">選択肢</div>
        <div class="list_item_name input_field_list_item_box">母音</div>

        <div>
          <i class="fa fa-fire fa-lg icon_action visibility_hidden" aria-hidden="true"></i>
        </div>
      </li>

      <% @choices.each_with_index do |choice, idx| %>
        <li id="choice_input_field_id_<%= choice.id %>" class="input_field_list_item" >
          <div>
            <i class="fa fa-sort fa-lg icon_action icon_sort_input_field_list_item" aria-hidden="true" draggable="true"></i>
          </div>

          <div class="input_field_list_item_box">
            <%= fields_for "choice[]" ,choice do |choice_form| %>
              <%= choice_form.text_field :content, name: "choice[][content]" ,class: 'form-control ' %>
              <%= render "shared/error_messages_for_attribute", object: choice, attribute: :content %>
            <% end %>
          </div>

          <div class="input_field_list_item_box">
            <%= select_tag "choice[][rhyme]", options_for_select(@select_box_choice_rhyme.map{|c|[c[:name], c[:id]]}, @choice_rhymes[idx]), id: "select_choice_rhyme_id_#{choice.id}", class: "form-control" %>
          </div>

          <div>
            <i class="fa fa-trash fa-lg icon_action icon_delete_input_field_list_item" aria-hidden="true"></i>
          </div>
        </li>
      <% end %>
    </ul>

    <div class="icon_add_potion">
      <i class="fa fa-plus-circle fa-2x icon_action icon_add_input_field_list_item" aria-hidden="true">追加</i>
    </div>
  </div>

  <div  id="rhyme_input_field" class="input_field">
    <div class="item_title">
      <span>韻の母音</span>
    </div>

    <ul id="rhyme_input_field_list" class="input_field_list">
      <% @rhymes.each do |rhyme| %>

        <li id="rhyme_input_field_id_<%= rhyme.id %>" class="input_field_list_item">
          <div>
            <i class="fa fa-sort fa-lg icon_action icon_sort_input_field_list_item" aria-hidden="true" draggable="true"></i>
          </div>

          <div class="input_field_list_item_box">
            <%= fields_for 'rhyme[]' ,rhyme do |rhyme_form| %>
              <%= rhyme_form.text_field :content, name: "rhyme[][content]" ,class: 'form-control' %>
              <%= render "shared/error_messages_for_attribute", object: rhyme, attribute: :content %>
            <% end %>
          </div>

          <div>
            <i class="fa fa-trash fa-lg icon_action icon_delete_input_field_list_item" aria-hidden="true"></i>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="icon_add_potion">
      <i class="fa fa-plus-circle fa-2x icon_action icon_add_input_field_list_item" aria-hidden="true">追加</i>
    </div>
  </div>

  <div class="input_field">
    <div class="item_title">
      <span>解説</span>
    </div>
    <%= render "shared/error_messages_for_attribute", object: f.object, attribute: :commentary %>
    <%= f.text_area :commentary, class: 'form-control commentary' %>

    <div class="btn_quiz_post">
      <%= f.button "投稿", type: 'button', onclick: 'submit();', class: "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>