<%= javascript_pack_tag 'quizzes/form' %>

<% choice_num = 10 %>
<% rhyme_word_num = 5 %>

<%= form_with(model: @quiz, local: true) do |f| %>

  <div class="item_title">
    <span>クイズの選択肢</span>
  </div>

  <ol class="list_choice">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5 item_name">選択肢</div>
      <div class="col-md-5  item_name">母音</div>
      <div class="col-md-1"></div>
    </div>

    <% choice_num.times do |n| %>
      <li id="unit_choice_id_<%= n %>" class="row unit_choice" draggable="true">
        <div class="col-md-1 drag_and_drop_mark"></div>
        <div class="col-md-5">
          <%= text_field_tag 'choice[][content]', '', id: "txt_choice_id_#{n}", class: "form-control" %>
        </div>
        <div class="col-md-5">
          <%= select_tag "choice[][rhyme]", "", id: "select_choice_rhyme_id_#{n}", class: "form-control" %>
        </div>
        <div class="col-md-1"></div>
      </li>
    <% end %>
  </ol>

  <div class="item_title">
    <span>韻を踏んでいる母音</span>
  </div>

  <!-- 
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 item_name">母音</div>
    <div class="col-md-1"></div>
    <div class="col-md-5"></div>
  </div>
  -->

  <% rhyme_word_num.times do |n| %>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <%= text_field_tag 'rhyme[][content]', '', {id: "rhyme_id_#{n}", class: 'form-control txt_rhyme'} %>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5"></div>
    </div>
  <% end %>

  <div class="item_title">
    <span>解説</span>
  </div>
  <%= f.text_area :commentary, class: 'form-control commentary' %>

  <div class="btn_quiz_post">
    <%= f.button "投稿", type: 'button', onclick: 'submit();', class: "btn btn-primary btn-lg" %>
  </div>
<% end %>