<% question_sentence = '韻を踏んでいる組み合わせは？' %>

<li class="card_quiz" id="card_quiz_<%= quiz.id %>">

  <div class="lbl_quiz_question text-left">
    <span class="mark_symbol">Q.</span><span class=lbl_question_sentence><%= question_sentence %></span>
  </div>

  <%= form_with(url: answers_path, scope: :answer, local: false) do |f| %>
    <%= hidden_field_tag "quiz[id]", quiz.id, {id: "hidden_quiz_id*#{quiz.id}"} %>

    <div class="row">
      <div class="col-md-2"></div>
      <ol class="choices col-md-10">
        <% quiz.choices.each do |choice| %>
          <%= render partial: 'choice', object: choice %>
        <% end %>
      </ol>
    </div>

    <div class="btn_quiz_answer">
      <%= f.submit "回答", id:"btn_quiz_id_#{quiz.id}", class: "btn btn-primary btn-lg btn_quiz_answer_font" %>
    </div>

  <% end %>

  <div id="main_answer_quiz_id_<%= quiz.id %>"></div>
</li>


