<% question_sentence = '韻を踏んでいる組み合わせは？' %>

<div class="row">
  <div class="card_quiz col-md-8 col-md-offset-2" id="card_quiz_<%= quiz.id %>">
    <div class="lbl_quiz_question text-left">
      <label class="mark_symbol">Q.</label><label class=lbl_question_sentence><%= question_sentence %></label>
    </div>

    <%= form_with(url: answers_path, scope: :answer, local: false) do |f| %>
      <%= hidden_field_tag "quiz[id]", quiz.id %>

      <% quiz.choices.each do |choice| %>
        <div class="row">
          <b class="col-md-1"></b> 
          <div class="choices col-md-11">
            <%= render partial: 'choice', object: choice %>
          </div>
        </div>
      <% end %>

  <!--
      <div class="quiz_choices">
        <% quiz.choices.each do |choice| %>
          <div class="row">
            <b class="col-md-1"></b> 
            <div class="choices col-md-11">
              <%= render partial: 'choice', object: choice %>
            </div>
          </div>
        <% end %>
      </div>
  -->

      <div class="btn_quiz_answer">
        <%= f.submit "回答", id:"btn_quiz_id_#{quiz.id}", class: "btn btn-primary btn-lg btn_quiz_answer_font" %>
      </div>
    <% end %>

    <div id="main_answer_quiz_id_<%= quiz.id %>"></div>
  </div>

</div>
