<% provide(:title, '投稿一覧') %>
<h1><%= yield(:title) %></h1>





<div class="main_quiz_edit_index">


  <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
      <%= form_with(model: @quiz_posts_search_form, url: edit_index_search_quizzes_path, method: :get, local: true, class: 'search_conditions_field') do |f| %>
        
        <div class="form-group row search_conditions_field_item">
            <label class='col-md-3 col-form-label search_conditions_field_input_lbl'>期間:</label>
          <div class='col-md-4'>        
            <%= f.date_field :from_date, class: 'form-control', value: f.object.from_date %>
          </div>
            <label class='col-md-1 col-form-label'>〜</label>
          <div class='col-md-4'>
            <%= f.date_field :to_date, class: 'form-control', value: f.object.to_date %>
          </div>
        </div>

        <div class="form-group row search_conditions_field_item">
            <label class='col-md-3 col-form-label search_conditions_field_input_lbl'>母音の文字数:</label>
          <div class='col-md-4'>        
            <%= f.select(:from_rhyme_characters, f.object.rhyme_select_box_choices, { include_blank: f.object.rhyme_select_box_init_msg }, class: 'form-control') %>
          </div>
            <label class='col-md-1 col-form-label'>〜</label>
          <div class='col-md-4'>
            <%= f.select(:to_rhyme_characters, f.object.rhyme_select_box_choices, { include_blank: f.object.rhyme_select_box_init_msg }, class: 'form-control') %>
          </div>
        </div>

        <div class="form-group row search_conditions_field_item">
          <label class='col-md-3 col-form-label search_conditions_field_input_lbl'>検索ワード:</label>
          <div class='col-md-9'>        
            <%= f.text_field :search_word, class: 'form-control' %>
          </div>
        </div>
        
        <div class='btn_search'>
          <%= f.submit "検索", class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
    <div class='col-md-3'></div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row edit_index_field"> 
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="col-md-1">編集</th>
              <th scope="col" class="col-md-3">選択肢</th>
              <th scope="col" class="col-md-5">解説</th>
              <th scope="col" class="col-md-1">母音</th>
              <th scope="col" class="col-md-1">投稿日</th>
              <th scope="col" class="col-md-1">削除</th>
            </tr>
          </thead>
          <tbody>
            <% @quiz_edits.each do |quiz_edit| %>
              <tr>
                <td class="col-md-1"><%= link_to '編集', edit_quiz_path(quiz_edit.quiz_id) %></th>
                <td class="col-md-3"><%= quiz_edit.choices %></th>
                <td class="col-md-5"><%= quiz_edit.commentary %></th>
                <td class="col-md-1"><%= quiz_edit.rhymes %></th>
                <td class="col-md-1"><%= quiz_edit.created_at %></th>
                <td class="col-md-1"><%= link_to "削除", "/quizzes/#{quiz_edit.quiz_id}", method: :delete, data: { confirm: "削除しますか?" }  %></th>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>