<% provide(:title, '投稿一覧') %>
<h1><%= yield(:title) %></h1>





<div class="main_quiz_edit_index">


  <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
      <%= form_with(model: @quiz_posts_search_form, url: edit_index_search_quizzes_path, method: :get, local: true, class: 'search_conditions_field') do |f| %>
        
        <div class="form-group row search_conditions_field_item">
            <label class='col-md-3 col-form-label search_conditions_field_input_lbl'>期間:</label>
          <div class='col-md-4'>        
            <%= f.date_field :from_date, class: 'form-control', value: f.object.from_date %>
          </div>
            <label class='col-md-1 col-form-label'>〜</label>
          <div class='col-md-4'>
            <%= f.date_field :to_date, class: 'form-control', value: f.object.to_date %>
          </div>
        </div>

        <div class="form-group row search_conditions_field_item">
            <label class='col-md-3 col-form-label search_conditions_field_input_lbl'>母音の文字数:</label>
          <div class='col-md-4'>        
            <%= f.select(:from_rhyme_characters, f.object.rhyme_select_box_choices, { include_blank: f.object.rhyme_select_box_init_msg }, class: 'form-control') %>
          </div>
            <label class='col-md-1 col-form-label'>〜</label>
          <div class='col-md-4'>
            <%= f.select(:to_rhyme_characters, f.object.rhyme_select_box_choices, { include_blank: f.object.rhyme_select_box_init_msg }, class: 'form-control') %>
          </div>
        </div>

        <div class="form-group row search_conditions_field_item">
          <label class='col-md-3 col-form-label search_conditions_field_input_lbl'>検索ワード:</label>
          <div class='col-md-9'>        
            <%= f.text_field :search_word, class: 'form-control' %>
          </div>
        </div>
        
        <div class='btn_search'>
          <%= f.submit "検索", class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
    <div class='col-md-3'></div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <ul class="">
        <% @quiz_edits.each do |quiz_edit| %>
          <li>
            <%= link_to '編集', edit_quiz_path(quiz_edit.quiz_id) %>
            <%= link_to "削除", "/quizzes/#{quiz_edit.quiz_id}", method: :delete, data: { confirm: "削除しますか?" }  %>
            <%= quiz_edit.choices %>
            <%= quiz_edit.commentary %>
            <%= quiz_edit.rhymes %>
            <%= quiz_edit.created_at %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>